@font-face {
    src: url(..fonts/roboto/Roboto-Bold.woff);
    /*src: url(..fonts/roboto/Roboto-Light.woff);*/
    /*src: url(..fonts/roboto/Roboto-Medium.woff);*/
    /*src: url(..fonts/roboto/Roboto-Regular.woff);*/
    /*src: url(..fonts/roboto/Roboto-Thin.woff);*/
}
body, body *{
font-family:"Roboto-Bold";
padding: 0;
margin: 0;
box-sizing: border-box;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*header*/
header h1 {
  font-weight: 600;
}
.background{
  background-image: url(../img/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: auto;
  height: 400px;
}
.perfil{
  padding: 5px;
}
/*about me*/
#about{
  padding: 100px;
}
/*portafolio*/
.desk-book{
  background-image: url(../img/desk-book.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 200px;
  height: 150px;
}
.consola{
  background-image: url(../img/consola.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 200px;
  height: 150px;
}
.code{
  background-image: url(../img/code.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 200px;
  height: 150px;
}
.girl-code{
  background-image: url(../img/girl-code.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 200px;
  height: 150px;
}
.desk-code{
  background-image: url(../img/desk-code.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 200px;
  height: 150px;
}
.img-1{
  background-image: url(../img/img-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 200px;
  height: 150px;
}
#porta{
  padding: 50px;
}
